// 链接颜色
a,span.exturl{
  //border-bottom: none;
  &:hover {
     color: #87CEEB;
     border-bottom: none; 
  }
}


// 修改选中颜色
::selection {
  background: #ACD2FC;
  color: #ffffff;
  font-weight: 900;
  font-size: 32px;
}
::-moz-selection {
  background: #ACD2FC;
  color: #ffffff;
  font-weight: 900;
  font-size: 32px;
}

// "``"类型的代码块颜色
code {
  background-color: #f8f8f8;
  color: #e96900;
}
